body {
  margin: 2rem;
  padding: 2rem;
  font-size: 150%;
}
header {
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: rgb(99, 139, 126);
  font-size: 200%;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
}
#highScore {
  border: none;
  background: none;
}
#highScore:hover {
  cursor: pointer;
}
main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;

  margin: 1rem;
}
.rules {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: min(60%, 60rem);
}
p {
  margin: 0.5rem;
  padding: 0.5rem;
}
#start {
  align-self: center;
  background-color: rgb(52, 105, 88);
  color: white;
}

.container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: min(60%, 70rem);
  margin: 1rem;
  padding: 1rem;
}
.hide {
  display: none;
}
.answerBtn {
  margin-top: 0.3rem;
  padding: 1rem;
}
.correct {
  background-color: rgb(132, 184, 132);
}
.wrong {
  background-color: red;
}
h2 {
  font-size: 175%;
  color: rgb(8, 83, 59);
  margin-bottom: 1rem;
}

.btn {
  background-color: rgb(52, 105, 88);
  color: white;
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
}
#text {
  margin-bottom: 1.5rem;
}
